services:
  redis:
    image: "redis:7-alpine"
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/var/lib/redis
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_REPLICATION_MODE=master
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 3
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 524M

  parser:
    image: ${DOCKER_IMAGE}
    depends_on:
      redis:
        condition: service_healthy
    environment:
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      AMOCRM_TOKEN: ${AMOCRM_TOKEN}
      AMOCRM_URL: ${AMOCRM_URL}
    deploy:
      resources:
        limits:
          cpus: "1.5"
          memory: 1024M

networks:
  crm-predictor-network:
    external: true
